@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../assets/bg-header-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Bai Jamjuree;
    font-size: 18px;
}

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

.logoPNG{
    height: 100px;
    width: 100px;
    margin-bottom: 40px;
}

h1{
    color: #373b41;
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: 520;
}

span{
    color: #c6c8ca;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

h2{
    color: #373b41;
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: 520;
}

p{
    font-weight: 600;
    font-size: 20px;
    color: #373b41;
    margin-bottom: 15px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    cursor: pointer;
    border: 0;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    color: #FFF;
    margin-right: 10px;
    margin-top: 35px;
}

.buttonsIOS{
    background-color: #25bba6;
    border-bottom: 3px solid #1fa190;
}

.buttonsMAC{
    background-color: #5f75fd;
    border-bottom: 3px solid #5164dd;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.section1{
    max-width: 635px;
    margin-bottom: 100px;

    span{
        max-width: 560px;
    }
}

.section2{
    max-width: 610px;
    margin-bottom: 60px;
}

.section3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 80px;
    max-width: 100vw;
}

.imgComputer{
    margin-left: -50px;
}

.infos{
    max-width: 320px;
    margin-left: 100px;
}

.texts{
    margin-bottom: 35px;
}

.section4{
    max-width: 600px;
    margin-bottom: 80px;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
    max-width: 100vw;
}

.icon{
    margin-top: 70px;
    margin-bottom: 25px;
}

.icon1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    width: 400px;
}

.icon2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
    margin-right: 25px;
}

.icon3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
    margin-right: 25px;
}

.section6{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 120px;
}

.section7{
    max-width: 600px;
    margin-bottom: 120px;
}

footer{
    background-color: #f5f6f8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    width: 100%;
    max-width: 100vw;

    img{
        max-width: 40px;
        margin-left: 120px;
        margin-right: 100px;
    }
}

.links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 60px;
    margin-left: -100px;
}

a{
    text-decoration: none;
    color: #88898a;
}

.sociais{
    max-width: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;

    img{
        width: 20px;
        margin: 0;
    }
}

.imgDevices{
    max-width: 100%;
    height: auto;
}

@media (max-width: 420px){
    .main{
        margin-top: 30px;
        padding: 0 8px;
    }

    .logoPNG{
        height: 70px;
        width: 70px;
    }

    h1{
        font-size: 30px;
    }

    span{
        font-size: 15px;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    button{
        margin-top: 25px;
        height: 60px;
        width: 380px;
        margin-right: 0;
        border-radius: 50px;
        font-size: 20px;
    }

    .section3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imgComputer{
        margin: 0;
    }

    .infos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 60px;
        margin-left: 0;
    }

    .icon1{
        margin: 0;
    }

    .icon2{
        margin: 0;
    }

    .icon3{
        margin: 0;
    }

}

@media (max-width: 830px){
    .section6{
        display: grid;
        grid-template-areas:
            "google ibm microsoft"
            ". hp vector";
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .google { grid-area: google; }
    .ibm { grid-area: ibm; }
    .microsoft { grid-area: microsoft; }
    .hp { 
        grid-area: hp;
        margin-left: -220px;
    }
    .vector { 
        grid-area: vector;
        margin-left: -290px;
    }

    footer{
        img{
            margin-left: 15px;
        }
    }

    .links{
        margin-left: -80px;
    }
}

@media (max-width: 910px){
    .imgComputer{
        max-width: 60%;
        height: auto;
    }
}

@media (max-width: 700px){
    h1{
        text-align: center;
    }

    .icons{
        flex-direction: column;
    }

    footer{
        img{
            margin-left: 20px;
            margin-right: 0;
        }
    }

    .links{
        margin-left: 0;
        gap: 5px 15px;
        font-size: 17px;
    }
}

@media (max-width: 600px){
    .logoFooter{
        display: none;
    }

    .links{
        margin-left: 35px;
    }

    .hp { 
        margin-left: -150px;
    }

    .vector { 
        grid-area: vector;
        margin-left: -200px;
    }
}

@media (max-width: 600px){
    .section6{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .hp { 
        margin: 0;
    }

    .vector { 
        margin: 0;
    }
}

